resampy==0.3.1
numpy>=1.22.0
numba==0.57.0
torch>=1.13.0
librosa==0.9.1
Unidecode>=0.4.20
tensorboard
tensorboardX
matplotlib
Pillow==10.0.1
flask
scipy
tqdm
soundfile
phonemizer
bokeh==1.4.0
torchvision
requests
safetensors
open_clip_torch
accelerate
transformers>=4.27.1
IPython
inflect
gdown
pygame

